<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISearchService"/>
        <binding name="BasicHttpBinding_ISearch"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49294/Search.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearch" contract="ServiceReference.ISearch" name="BasicHttpBinding_ISearch"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
